@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.slide-in-left,
.slide-in-right {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}

.slide-in-right {
  transform: translateX(50px);
}

.slide-in-left.is-visible,
.slide-in-right.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-left:not(.is-visible),
.slide-in-right:not(.is-visible) {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-in-right:not(.is-visible) {
  transform: translateX(50px);
}
